<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}TITLE{% endblock %}</title>
 <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Blogly</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      	<li><a href="/">Home</a></li>
        <li><a href="/user_list">Users</a></li>
<!--         <li><a href="/">Home</a></li>
        <li><a href="collapsible.html">JavaScript</a></li> -->
      </ul>
    </div>
  </nav>
<h1>{% block header %}HEADER TITLE{% endblock %}</h1>
{% block content %} CONTENT GOES HERE {% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>