{% extends 'basic.html' %}

{% block title %}User New Post{% endblock %}
{% block header %}New Post: {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<div class="row">
		<form class="col s12" action="/show-user/{{user.id}}/posts/new" method="POST">
			<div class="row">
					<div class="input-field col s12">
						   <input placeholder="Post Title" id="title" name="title" type="text" class="validate">
          					<label for="title">Title</label>
						
					</div>
			</div>
		<div class="row">
          <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea"name="content" data-length="5120"></textarea>
            <label for="content">Content</label>
          </div>
        </div>
                      <div class="col s6 offset-s6">
              	<button>Add</button>
              	<button>Cancel</button>
              </div>
		</form>
	
</div>
{% endblock %}